<div class="track-container" (click)="onClickTrack($event)">
    <div class="track-header">
        <div class="zoom-container">
          <img src="assets/images/zoom_in.png" (click)="onClickZoomIn()" alt="Icon">
          <img src="assets/images/zoom_out.png" (click)="onClickZoomOut()" alt="Icon">
        </div>
        <button class="play-btn" (click)="onClickPlayBtn()" [disabled]="!scenes.length">
          {{ isPlaying ? 'Pause' : 'Play Trcak' }}
        </button>
    </div>
    <div class="ruler">
        <div class="ruler-marker" *ngFor="let marker of rulerMarkers">{{ marker }}</div>
    </div>
    <div *ngIf="draggedScene" class="scene-container" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let scene of scenes" class="scene" cdkDrag [style.width]="calculateWidth(scene)">
            <span>{{ scene?.name }}</span>
            <img src="assets/images/remove.png" class="remove-btn"  (click)="removeSceneFromTrack(scene)" alt="Icon">
        </div>
    </div>
    <div *ngIf="!draggedScene" class="scene-container">
        Drop scenes here!
    </div>
</div>
<div class="cursor" *ngIf="scenes.length" [style.left.%]="cursorPosition / totalDuration * 100" [hidden]="cursorPosition < 0.5 || cursorPosition > 30.5"></div>
